<%= form_for @third_contact, url: participant_third_contact_path(participant), method: @third_contact.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :contact_at, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.datetime_select :contact_at, class: "form-control", required: true, default: participant.third_contact ? third_contact.contact_at : (participant.second_contact.next_contact) %>
        <br>
        <small><%= Time.zone %></small>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :session_length, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.number_field :session_length, min: 1, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :final_appointment_at, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.datetime_select :final_appointment_at, class: "form-control", required: true %>
        <br>
        <small><%= Time.zone %></small>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :final_appointment_location, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :final_appointment_location, class: "form-control", required: true %>
      </div>
    </div>
    <%= render 'nurse_participant_evaluations/form', {nurse_participant_evaluation: @nurse_participant_evaluation, f: f} %>
    <div class="form-group">
      <%= f.label :notes, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_area :notes, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-7">
        <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
        <%= link_to t("conemo.views.shared.cancel_button"), active_participants_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>