<%= form_for @third_contact, url: participant_third_contact_path(@participant), method: @third_contact.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :contact_at, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.datetime_select :contact_at, { required: true }, { class: "date-select" } %>
      <br>
      <small><%= Time.zone %></small>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :session_length, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.number_field :session_length, min: 1, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :difficulties, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.select :difficulties, "<option>#{ t("conemo.views.shared.false") }</option>".html_safe + grouped_options_for_select([[t("conemo.views.shared.true"), t("activerecord.field_options.third_contact.difficulties")]]),
                   {},
                   { class: "dropdown", required: true } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :call_to_schedule_final_appointment_at, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.datetime_select :call_to_schedule_final_appointment_at, { required: true }, { class: "date-select" } %>
      <br>
      <small><%= Time.zone %></small>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-7">
      <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
      <%= link_to t("conemo.views.shared.cancel_button"), participant_tasks_path(@participant), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
