<%= form_for @final_appointment, url: participant_final_appointment_path(@participant), method: @final_appointment.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :appointment_at, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.datetime_select :appointment_at,
                            { required: true, default: @final_appointment.appointment_at || @participant.call_to_schedule_final_appointment.try(:final_appointment_at) },
                            { class: "date-select" } %>
      <br>
      <small><%= Time.zone %></small>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :appointment_location, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.select :appointment_location, options_for_select(t("activerecord.field_options.final_appointment.locations"), @final_appointment.appointment_location),
                   {},
                   { class: "dropdown", required: true } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone_returned, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <label class="radio-inline">
        <%= f.radio_button :phone_returned, 'true', required: true %> <%= t("conemo.views.shared.true") %>
      </label>

      <label class="radio-inline">
        <%= f.radio_button :phone_returned, 'false', required: true %> <%= t("conemo.views.shared.false") %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-7">
      <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
      <% referrer = params[:referrer] == "active_participant_path" ? active_participant_path(@participant) : participant_tasks_path(@participant) %>
      <%= link_to t("conemo.views.shared.cancel_button"), referrer, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
