<% in_person = ['in person', 'en persona', 'presencial'].include?(additional_contact.kind.downcase) %>
<li class="<%= in_person ? 'timeline-inverted' : '' %>">
  <div class="timeline-badge <%= in_person ? '' : 'success' %>" style="<%= in_person ? 'background-color:orange' : '' %>">
    <% if in_person %>
      <i class="fa fa-user-md fa-lg"></i>
    <% else %>
      <i class="fa fa-phone-square"></i>
    <% end %>
  </div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title"><%= additional_contact.model_name.human.capitalize %></h4>

      <p><i class="fa fa-clock-o"></i> <%= t "activerecord.attributes.additional_contact.scheduled_at" %>: <%= l additional_contact.scheduled_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "activerecord.attributes.additional_contact.kind" %>: </strong><%= additional_contact.kind %>      
    </div>
  </div>
</li>
