<div class="tab-pane" id="dialogues">
  <table class="table table-bordered">
    <thead>
      <th><%= t "conemo.views.active.participants.report.release_day" %></th>
      <th><%= t "conemo.views.active.participants.report.dialogue" %></th>
      <th><%= t "conemo.views.active.participants.report.patient_response" %></th>
    </thead>
    <tbody>
      <% dialogues.each_with_index do |dialogue, index| %>
        <tr>
          <td>(<%= dialogue.day_in_treatment %>) <%= l participant.start_date + dialogue.day_in_treatment.to_i.days - 1.days, format: :long %></td>
          <td><%= dialogue.message %></td>
          <td>
            <%= dialogue.content_access_events.find_by(participant_id: participant.id).id rescue '' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>