<li class="timeline-inverted">
  <div class="timeline-badge" style="background-color:orange"><i class="fa fa-user-md fa-lg"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
        <% if can? :update, final_appointment %>
          <%= link_to(edit_participant_final_appointment_path(final_appointment.participant, referrer: "active_participant_path"),
            class: "btn btn-primary") do %>
            <i class="fa fa-edit fa-lg"></i>
          <% end %>
        <% end %>
        <%= t "conemo.views.active.participants.show.final_appointment_heading" %>
      </h4>

      <p><i class="fa fa-clock-o"></i> <%= t "helpers.label.final_appointment.appointment_at" %>: <%= l final_appointment.appointment_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "helpers.label.final_appointment.appointment_location" %>: </strong> <%= final_appointment.appointment_location %>

      <p><strong><%= t "helpers.label.final_appointment.phone_returned" %>:</strong> <%= t "conemo.views.shared.#{final_appointment.phone_returned}" %>
    </div>
  </div>
</li>
