<li class="timeline-inverted">
  <div class="timeline-badge danger"><i class="fa fa-user-md fa-lg"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title"><%= t "conemo.views.active.participants.show.final_appointment_heading" %></h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= t "helpers.label.final_appointment.appointment_at" %>: <%= final_appointment.appointment_at.to_s(:long) %></small></p>
    </div>
    <div class="timeline-body">
      <p><strong><%= t "helpers.label.final_appointment.appointment_location" %>: </strong> <%= final_appointment.appointment_location %>
      <p><strong><%= t "helpers.label.final_appointment.phone_returned" %>:</strong> <%= t "conemo.views.shared.#{final_appointment.phone_returned}" %>
      <hr>
      <%= link_to '', edit_participant_final_appointment_path(final_appointment.participant), class: "fa fa-edit fa-2x" %>
    </div>
  </div>
</li>