<li class="timeline-inverted">
  <div class="timeline-badge" style="background-color:orange"><i class="fa fa-user-md fa-lg"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
        <% if can? :update, first_appointment %>
          <%= link_to(edit_participant_first_appointment_path(first_appointment.participant, referrer: "active_participant_path"), class: "btn btn-primary") do %>
            <i class="fa fa-edit fa-lg"></i>
          <% end %>
        <% end %>
        <%= first_appointment.model_name.human %></h4>

      <p><i class="fa fa-clock-o"></i> <%= t "helpers.label.first_appointment.appointment_at" %>: <%= l first_appointment.appointment_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "helpers.label.first_appointment.appointment_location" %>: </strong> <%= first_appointment.appointment_location %>

      <p><strong><%= t "helpers.label.first_appointment.session_length" %>: </strong><%= first_appointment.session_length %>      
    </div>
  </div>
</li>
