<table class="table table-condensed">
  <tbody>
    <tr class="un-released">
      <td><%= t ".unreleased" %></td>
    </tr>
    <tr class="info">
      <td><%= t ".current" %></td>
    </tr>
    <tr class="slippage">
      <td><%= t ".completed_late" %></td>
    </tr>
    <tr class="warning">
      <td><%= t ".accessed_but_not_completed" %></td>
    </tr>
    <tr class="danger">
      <td><%= t ".not_accessed" %></td>
    </tr>
    <tr class="success">
      <td><%= t ".completed_on_time" %></td>
    </tr>
  </tbody>
</table>
