<div class="tab-pane active" id="lessons">
  <table class="table table-bordered">
    <thead>
    <th><%= t "conemo.views.active.participants.report.release_day" %></th>
    <th><%= t "conemo.views.active.participants.report.lesson" %></th>
    <th><%= t "conemo.views.active.participants.report.patient_response" %></th>
    <th><%= t "conemo.views.active.participants.report.access_count" %></th>
    </thead>
    <tbody>
      <% lessons.each_with_index do |lesson, index| %>
        <tr class="<%= participant.lesson_status(lesson) %>">
          <td>(<%= index + 1 %>) <%= l participant.start_date + lesson.day_in_treatment.days - 1.days, format: :long %></td>
          <td><%= lesson.title %></td>
          <td>
            <%= "#{lesson.content_access_events.find_by(participant_id: participant.id).name.gsub(/[_]/, ' ')}: " rescue '' %>
            <%= lesson.content_access_events.find_by(participant_id: participant.id).answer rescue '' %>
          </td>
          <td><%= lesson.content_access_events.where(participant_id: participant.id).count rescue '' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>