<div class="tab-pane active" id="lessons">
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th><%= t "conemo.views.active.participants.report.release_day" %></th>
      <th><%= t "conemo.views.active.participants.report.lesson" %></th>
    </thead>
    <tbody>
      <% lessons.each_with_index do |lesson, index| %>
        <tr class="<%= participant.lesson_status(lesson) %>">
          <td class="release-day"><%= index + 1 %></td>
          <td class="release-date"><%= participant.start_date ? l(participant.start_date + lesson.day_in_treatment.days - 1.days, format: :long) : "" %></td>
          <td><%= lesson.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
