<li>
  <div class="timeline-badge success"><i class="fa fa-phone-square"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title"><%= non_adherence_call.model_name.human %></h4>

      <p><i class="fa fa-clock-o"></i> <%= t "activerecord.attributes.non_adherence_call.contact_at" %>: <%= l non_adherence_call.contact_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "activerecord.attributes.non_adherence_call.explanation" %>: </strong><%= non_adherence_call.explanation %>      
    </div>
  </div>
</li>
