<li>
  <div class="timeline-badge success"><i class="fa fa-phone-square"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
        <%= link_to '',
          edit_participant_second_contact_path(second_contact.participant, referrer: "active_participant_path"),
          class: "fa fa-edit fa-lg" %> <%= t "conemo.views.active.participants.show.second_contact_heading" %></h4>

      <p><i class="fa fa-clock-o"></i> <%= t "helpers.label.second_contact.contact_at" %>: <%= l second_contact.contact_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "activerecord.attributes.second_contact.difficulties" %>: </strong><%= second_contact.difficulties.join(", ") %>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "helpers.label.second_contact.session_length" %>: </strong><%= second_contact.session_length %>
    </div>
  </div>
</li>
