<li>
  <div class="timeline-badge success"><i class="fa fa-phone-square"></i></div>

  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">
        <% if can? :update, third_contact %>
          <%= link_to(edit_participant_third_contact_path(third_contact.participant, referrer: "active_participant_path"),
            class: "btn btn-primary") do %>
            <i class="fa fa-edit fa-lg"></i>
          <% end %>
        <% end %>
        <%= t "conemo.views.active.participants.show.third_contact_heading" %></h4>

      <p><i class="fa fa-clock-o"></i> <%= t "activerecord.attributes.third_contact.contact_at" %>: <%= l third_contact.contact_at, format: :long %></p>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "activerecord.attributes.third_contact.difficulties" %>: </strong><%= third_contact.difficulties.join(", ") %>
    </div>

    <div class="timeline-body">
      <p><strong><%= t "activerecord.attributes.third_contact.session_length" %>: </strong><%= third_contact.session_length %>
    </div>
  </div>
</li>
