<div class="row">
  <div class="col-md-12">
    <h1><%=t "conemo.views.pending.participants.index.heading" %></h1>
    <br>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th><%=t "conemo.views.active.participants.index.edit_info" %></th>
        <th><%=t "conemo.views.shared.nurse" %></th>
        <th><%=t "conemo.views.active.participants.index.name" %></th>
        <th><%=t "conemo.views.active.participants.index.study_identifier" %></th>
        <th><%=t "conemo.views.active.participants.index.enrollment_date" %></th>
      </tr>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= link_to '', edit_participant_path(participant), class: "fa fa-edit fa-2x" %></td>
          <td><%= participant.nurse.last_name %></td>
          <td><%= participant.last_name %>, <%= participant.first_name %></td>
          <td><%= participant.study_identifier %></td>
          <td><%= participant.enrollment_date %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>