<div class="row">
  <div class="col-md-12">
    <h1><%=t "conemo.views.active.participants.index.heading" %></h1>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th><%=t "conemo.views.shared.nurse" %></th>
        <th><%=t "conemo.views.active.participants.index.name" %></th>
        <th><%=t "conemo.views.active.participants.index.study_identifier" %></th>
        <th><%=t "conemo.views.active.participants.index.enrollment_date" %></th>
        <th><%=t "conemo.views.active.participants.index.first_contact" %></th>
        <th>
          <%=t "conemo.views.active.participants.index.first_appointment" %> / 
          <%=t "conemo.views.active.participants.index.location" %>
        </th>
        <th><%=t "conemo.views.active.participants.index.second_contact" %></th>
        <th><%=t "conemo.views.active.participants.index.status" %></th>
      </tr>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.nurse.last_name, pending_activate_path(participant), id: "activate_#{participant.id}" %></td>
          <td><%= link_to "#{fa_icon 'edit'} #{participant.last_name}, #{participant.first_name}".html_safe, active_participant_path(participant)%></td>
          <td><%= participant.study_identifier %></td>
          <td><%= l participant.enrollment_date, format: :long %></td>
          <td><%= first_contact(participant) %></td>
          <td><%= first_appointment(participant) %></td>
          <td><%= second_contact(participant) %></td>
          <td class="text-center">
            <%= render_status_link(participant) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<script>

  function blinker() {
    $('.blink-me').fadeOut(1500);
    $('.blink-me').fadeIn(1500);
  }

  setInterval(blinker, 1000);
  
  $(document).ready(blinker);
  $(document).on("page:change", blinker);
</script