<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-12">
        <h1 class="pull-left table-title"><%= t "conemo.views.active.participants.index.heading" %></h1>

        <div class="legend">
          <%= render "legend" %>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th><%= t "conemo.views.shared.nurse" %></th>
          <th><%= t "conemo.views.active.participants.index.name" %></th>
          <th><%= t "conemo.views.active.participants.index.study_identifier" %></th>
          <th><%= t "conemo.views.active.participants.index.first_contact" %></th>
          <th><%= t "conemo.views.active.participants.index.first_appointment" %></th>
          <th><%= t "conemo.views.active.participants.index.second_contact" %></th>
          <th><%= t "conemo.views.active.participants.index.third_contact" %></th>
          <th><%= t "conemo.views.active.participants.index.call_to_schedule_final_appointment" %></th>
          <th><%= t "conemo.views.active.participants.index.final_appointment" %></th>
          <th><%= t 'conemo.views.active.participants.report.notes' %></th>
          <th><%= t "conemo.views.active.participants.index.status" %></th>
          <th>Token</th>
        </tr>
      </thead>

      <tbody>
        <% @participants.each do |participant| %>
          <tr>
            <% if current_user.admin? && participant.nurse %>
                <td><%= link_to participant.nurse.last_and_first_name, pending_activate_path(participant), id: "activate_#{participant.id}" %></td>
            <% elsif participant.nurse %>
                <td><%= participant.nurse.last_and_first_name %></td>
            <% else %>
                <td><%= link_to "#{t "conemo.views.shared.nurse"}", pending_activate_path(participant), id: "activate_#{participant.id}" %></td>
            <% end %>
            <td><%= link_to "#{fa_icon 'edit'} #{participant.last_name}, #{participant.first_name}".html_safe, active_participant_path(participant) %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= first_contact(participant).html_safe %></td>
            <td>
              <%= first_appointment(participant).html_safe %>
              <br>
              <div class="btn-group">
                <%= first_appointment_link(participant) %>
                <%= reschedule_first_appointment(participant) %>
              </div>
            </td>
            <td>
              <%= second_contact(participant).html_safe %>
              <br>
              <div class="btn-group">
                <%= second_contact_link(participant) %>
                <%= reschedule_second_contact(participant) %>
              </div>
            </td>
            <td>
              <%= third_contact(participant).html_safe %>
              <br>
              <div class="btn-group">
                <%= third_contact_link(participant) %>
                <%= reschedule_third_contact(participant) %>
              </div>
            </td>
            <td>
              <%= link_to(new_participant_call_to_schedule_final_appointment_path(participant), class: "btn btn-default", :"aria-label" => t("conemo.views.active.participants.index.call_to_schedule_final_appointment")) do %>
                <span class="fa fa-phone fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Edit</span>
              <% end %>
            </td>
            <td>
              <%= final_appointment(participant).html_safe %>
              <br>
              <div class="btn-group">
                <%= final_appointment_link(participant) %>
                <%= reschedule_final_appointment(participant) %>
              </div>
            </td>
            <td>
              <%= link_to(new_participant_patient_contact_path(participant), class: "btn btn-default", :"aria-label" => "Edit") do %>
                <span class="fa fa-weixin fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Edit</span>
              <% end %>
            </td>
            <td class="text-center">
              <%= render_status_link(participant) %>
            </td>
            <td><%= token_for(participant) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
