<h2><%= t(".clinical_summary") %></h2>

<div class="row report">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <table class="table table-bordered accordion-toggle" data-toggle="collapse" data-target="#logins-table">
      <thead>
        <th class="text-center text-primary" style="cursor: pointer;"><%= fa_icon 'sort', class: "pull-left" %><%= t "conemo.views.active.participants.report.logins" %></th>
      </thead>
      <tbody class="accordion-body collapse" id="logins-table">
        <% @participant.logins.order(logged_in_at: :desc).each do |login| %>
          <tr>
            <td><%= l login.logged_in_at, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-7 col-sm-7 col-xs-7" id="main-report">
    <div class="tab-content">
      <%= render partial: "active/participants/lessons_table", :locals => {participant: @participant, lessons: @lessons} %>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-3">
    <%= render "active/participants/lesson_legend" %>

    <table class="table">
      <thead>
        <th class="text-center">
          <h3>
            <%= t 'conemo.views.active.participants.report.notes' %>
            <%= link_to(new_participant_patient_contact_path(@participant), class: "btn btn-link") do %>
              <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
              <span class="sr-only">Write note</span>
            <% end %>
          </h3>
        </th>
      </thead>
      <tbody>
        <% @participant_contacts.each do |contact| %>
          <tr>
            <td>
              <dl>
                <dt>
                  <%= contact.title %>
                  <% if contact.deletable? %>
                    <%= link_to "#{fa_icon 'times-circle'}".html_safe, participant_patient_contact_path(id: contact.id, participant_id: @participant.id), method: :delete, :"data-confirm" => "#{ t 'conemo.views.active.participants.report.delete' }", class: 'pull-right delete-note' %></dt>
                  <% end %>
                <dd><%= contact.note %></dd>
                <dd><em><%= l contact.timestamp, format: :long %></em></dd>
              </dl>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
