<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h1>
      <%= link_to "", active_participants_path, class: "fa fa-chevron-left" %>
      <%= "#{@participant.first_name} #{@participant.last_name}" %>
    </h1>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 lesson-legend">
    <%= render 'lesson_legend' %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <h1 class="pull-right">
      <small> <%= t 'conemo.views.active.participants.report.overall_status' %></small>
      <%= render_large_status(@participant) %>
    </h1>
  </div>
</div>
<br>
<div class="row report">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <div>
      <div class="access-count">
        <h5 class="text-center"><%= t 'conemo.views.active.participants.report.seven_day_access_count' %></h5>
        <span><%= @participant.seven_day_access.count %></span>
      </div>
    </div>
    <div class="accordion">
      <table class="table table-bordered accordion-toggle" data-toggle="collapse" data-target="#messages-table">
        <thead>
        <th class="text-center"><%= fa_icon 'sort', class: "pull-left" %><%= t 'conemo.views.active.participants.report.messages' %></th>
        </thead>
        <tbody class="accordion-body collapse in" id="messages-table">
        <% @participant.help_messages.each do |help_message| %>
            <tr>
              <td class="<%= help_message.read ? '' : 'warning' %>">
                <%= link_to "#{fa_icon 'eye'}".html_safe, participant_help_message_path(id: help_message.id, participant_id: @participant.id, help_message: {read: true}), method: :put unless help_message.read %>
                <%= help_message.message %>
                <br>
                <small><%= l help_message.sent_at, format: :long %></small>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <table class="table table-bordered accordion-toggle" data-toggle="collapse" data-target="#logins-table">
      <thead>
      <th class="text-center"><%= fa_icon 'sort', class: "pull-left" %><%= t "conemo.views.active.participants.report.logins" %></th>
      </thead>
      <tbody class="accordion-body collapse" id="logins-table">
      <% @participant.logins.each do |login| %>
          <tr>
            <td><%= l login.logged_in_at, format: :long %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-7">

    <ul class="nav nav-tabs" id="report-table">
      <li class="active">
        <a href="#lessons" data-toggle="tab"><%= t "conemo.views.shared.lessons" %></a>
      </li>
      <li>
        <a href="#dialogues" data-toggle="tab"><%= t "conemo.views.shared.dialogues" %></a>
      </li>
    </ul>
    <div class="tab-content">
      <%= render partial: "lessons_table", :locals => {participant: @participant, lessons: @lessons} %>
      <%= render partial: "dialogues_table", :locals => {participant: @participant, dialogues: @dialogues} %>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <table class="table accordion-toggle" data-toggle="collapse" data-target="#notes-table">
      <thead>
      <th class="text-center"><%= t 'conemo.views.active.participants.report.notes' %><%= link_to "#{fa_icon 'plus-circle'}".html_safe, new_participant_patient_contact_path(@participant), class: "pull-right", style: "color:white;" %></th>
      </thead>
      <tbody class="accordion-body" id="notes-table">
      <% if @participant.patient_contacts.any? %>
          <% @participant.patient_contacts.order(contact_at: :desc).each do |contact| %>
              <tr>
                <td>
                  <dl>
                    <dt><%= contact.contact_reason %> <%= link_to "#{fa_icon 'times-circle'}".html_safe, participant_patient_contact_path(id: contact.id, participant_id: @participant.id), method: :delete, :"data-confirm" => "#{ t 'conemo.views.active.participants.report.delete' }", class: 'pull-right delete-note' %></dt>
                    <dd><%= contact.note %></dd>
                    <dd><em><%= l contact.contact_at, format: :long %></em></dd>
                  </dl>
                </td>
              </tr>
          <% end %>
      <% end %>
      <% if @participant.first_appointment %>
          <tr>
            <td>
              <dl>
                <dt><%= t 'conemo.views.active.participants.index.first_appointment' %></dt>
                <dd><%= @participant.first_appointment.notes %></dd>
                <dd><em><%= l @participant.first_appointment.appointment_at, format: :long %></em></dd>
              </dl>
            </td>
          </tr>
      <% end %>
      <% if @participant.second_contact %>
          <tr>
            <td>
              <dl>
                <dt><%= t 'conemo.views.active.participants.index.second_contact' %></dt>
                <dd><%= @participant.second_contact.notes %></dd>
                <dd><em><%= l @participant.second_contact.contact_at, format: :long %></em></dd>
              </dl>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
    function tabifyReport() {
        $('#report-table a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    }

    $(document).ready(tabifyReport);
    $(document).on("page:change", tabifyReport);
</script>