<div class="btn-group">
  <%= link_to NurseTask.model_name.human(count: 2), participant_tasks_path(@participant), class: "btn btn-link" %>
  <%= link_to t("active.participants.show.header"), active_participant_path(@participant), class: "btn btn-link" %>
</div>


<div class="row report">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <div class="accordion">
      <table class="table table-bordered accordion-toggle" data-toggle="collapse" data-target="#messages-table">
        <thead>
          <th class="text-center"><%= fa_icon 'sort', class: "pull-left" %><%= t 'conemo.views.active.participants.report.messages' %></th>
        </thead>
        <tbody class="accordion-body collapse in" id="messages-table">
          <% @participant.help_messages.each do |help_message| %>
            <tr>
              <td class="<%= help_message.read ? '' : 'warning' %>">
                <%= link_to "#{fa_icon 'eye 2x'}".html_safe, participant_help_message_path(id: help_message.id, participant_id: @participant.id, help_message: {read: true}), class: "pull-right danger", method: :put unless help_message.read %>
                <%= t ".help_message" %>
                <br>
                <small><%= l help_message.sent_at, format: :long %></small>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <table class="table table-bordered accordion-toggle" data-toggle="collapse" data-target="#logins-table">
      <thead>
        <th class="text-center"><%= fa_icon 'sort', class: "pull-left" %><%= t "conemo.views.active.participants.report.logins" %></th>
      </thead>
      <tbody class="accordion-body collapse" id="logins-table">
        <% @participant.logins.order(logged_in_at: :desc).each do |login| %>
          <tr>
            <td><%= l login.logged_in_at, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-7 col-sm-7 col-xs-7" id="main-report">
    <div class="tab-content">
      <%= render partial: "active/participants/lessons_table", :locals => {participant: @participant, lessons: @lessons} %>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-3">
    <%= render "active/participants/lesson_legend" %>

    <table class="table">
      <thead>
        <th class="text-center">
          <%= t 'conemo.views.active.participants.report.notes' %>
          <%= link_to(new_participant_patient_contact_path(@participant), class: "pull-right", style: "color:white;") do %>
            <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Write note</span>
          <% end %>
        </th>
      </thead>
      <tbody>
        <% @participant_contacts.each do |contact| %>
          <tr>
            <td>
              <dl>
                <dt>
                  <%= contact.title %>
                  <% if contact.deletable? %>
                    <%= link_to "#{fa_icon 'times-circle'}".html_safe, participant_patient_contact_path(id: contact.id, participant_id: @participant.id), method: :delete, :"data-confirm" => "#{ t 'conemo.views.active.participants.report.delete' }", class: 'pull-right delete-note' %></dt>
                  <% end %>
                <dd><%= contact.note %></dd>
                <dd><em><%= l contact.timestamp, format: :long %></em></dd>
              </dl>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can?(:create, SupervisorNote.new(participant: @participant)) %>
      <table class="table">
        <thead>
          <th class="text-center">
            <%= NurseSupervisor.model_name.human + " " + t("conemo.views.active.participants.report.notes") %>
            <%= link_to(new_participant_supervisor_note_path(@participant), class: "pull-right", style: "color:white;") do %>
              <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
              <span class="sr-only">Write note</span>
            <% end %>
          </th>
        </thead>
        <tbody>
          <% @participant.supervisor_notes.each do |note| %>
            <tr>
              <td>
                <dl>
                  <dt>
                  <dd><%= note.note %></dd>
                  <dd><em><%= l note.created_at, format: :long %></em></dd>
                </dl>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
