<h1>
  <%= link_to "", participant_tasks_path(@participant), class: "fa fa-chevron-left" %> <%= t "conemo.views.active.participants.show.heading" %> <%= @participant.first_name %> <%= @participant.last_name %>
</h1>

<div class="profile">
  <div class="row">
    <div class="col-md-12" id="contact-info">
      <%= render 'contact_info', participant: @participant %>
    </div>
    <div class="col-md-12" id="smartphone-info">
      <% if @participant.smartphone %>
        <%= render 'smartphone', smartphone: @participant.smartphone %>
      <% else %>
        <h2><%= t "conemo.views.active.participants.show.smartphone_heading" %> <%= link_to '', new_participant_smartphone_path(@participant), class: "fa fa-edit" %></h2>
      <% end %>
    </div>
  </div>
</div>
  <div class="row">
    <div class="status-wrap col-md-12">
      <ul class="status-bar">
        <li class="<%= @participant.first_contact ? 'visited' : '' %> popover" data-toggle="popover" data-content="<%= t "conemo.views.active.participants.show.first_contact_heading" %>" data-placement="bottom"></li>

        <li class="<%= @participant.first_appointment ? 'visited' : '' %> popover" data-toggle="popover" data-content="<%= t "conemo.views.active.participants.show.first_appointment_heading" %>" data-placement="bottom"></li>

        <li class="<%= @participant.second_contact ? 'visited' : '' %> popover" data-toggle="popover" data-content="<%= t "conemo.views.active.participants.show.second_contact_heading" %>" data-placement="bottom"></li>

        <li class="<%= @participant.third_contact ? 'visited' : '' %> popover" data-toggle="popover" data-content="<%= t "conemo.views.active.participants.show.third_contact_heading" %>" data-placement="bottom"></li>

        <li class="<%= @participant.final_appointment ? 'visited' : '' %> popover" data-toggle="popover" data-content="<%= t 'conemo.views.active.participants.show.final_appointment_heading' %>" data-placement="bottom"></li>
        
      </ul>
    </div>
  </div>
<div class="page-header">
  
</div>
<ul class="timeline">
  <%= render 'first_contact', first_contact: @participant.first_contact if @participant.first_contact %>
  <%= render 'first_appointment', first_appointment: @participant.first_appointment if @participant.first_appointment %>
  <%= render 'second_contact', second_contact: @participant.second_contact if @participant.second_contact %>
  <%= render 'third_contact', third_contact: @participant.third_contact if @participant.third_contact %>
  <%= render 'final_appointment', final_appointment: @participant.final_appointment if @participant.final_appointment %>
</ul>
<script>
  $('.popover').popover({ trigger: 'manual' }).popover('show');
</script>
