<h1>
  <%= link_to "", active_participants_path, class: "fa fa-chevron-left" %> <%= t "conemo.views.active.participants.show.heading" %> <%= @participant.first_name %> <%= @participant.last_name %>
</h1>
<div class="profile">
  <div class="row well">
    <div class="col-md-6">
      <%= render 'contact_info', participant: @participant %>
    </div>
    <div class="col-md-6">
      <% if @participant.smartphone %>
          <%= render 'smartphone', smartphone: @participant.smartphone %>
      <% else %>
          <h2><%= t "conemo.views.active.participants.show.smartphone_heading" %> <%= link_to '', new_participant_smartphone_path(@participant), class: "fa fa-edit" %></h2>
      <% end %>
      <%= render 'first_contact', first_contact: @participant.first_contact if @participant.first_contact %>
      <%= render 'first_appointment', first_appointment: @participant.first_appointment if @participant.first_appointment %>

      <%= render 'second_contact', second_contact: @participant.second_contact if @participant.second_contact %>
      <%= render 'third_contact', third_contact: @participant.third_contact if @participant.third_contact %>
    </div>
  </div>
</div>