<h2>Patient <%= @tasks.study_identifier %></h2>

<div><%= link_to "Clinical Summary", active_participant_path(@tasks.id) %></div>
<div><%= link_to AdditionalContact.model_name.human, new_participant_additional_contact_path(@tasks.id) %></div>

<%= @tasks.tasks_count %> <%= "task".pluralize(@tasks.tasks_count) %>, <%= @tasks.tasks_overdue.count %> overdue

<div class="progress">
  <% @tasks.tasks.each_with_index do |task, i| %>
    <%= content_tag("div",
                    class: "progress-bar progress-bar-#{ task.active? ? 'warning' : 'success' }",
                    style: "width: #{ 100 / @tasks.tasks.count }%; border-right: 1px solid;") do %>
      <span><%= task %></span>
    <% end %>
  <% end %>
</div>

<ul class="list-group">
  <% @tasks.tasks.each do |task| %>
    <% if task.active? %>
      <li class="list-group-item">
        <h4><%= task %> <small><%= time_ago_in_words task.scheduled_at %></small></h4>

        <% if task.alert? %>
          <%= button_to "Mark as resolved",
                        resolve_participant_task_path(participant_id: @tasks.id, id: task.id),
                        { method: :put, class: "btn btn-default" } %>
          <%= button_to "Contact Supervisor",
                        notify_supervisor_participant_task_path(participant_id: @tasks.id, id: task.id),
                        { class: "btn btn-default", data: { confirm: "are you sure you want to notify the supervisor that you need help?" } } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
