<h2><%= NurseTask.model_name.human(count: 2) %></h2>

<div class="row">
  <div class="col-sm-4 col-md-4">
    <h3><%= t ".progress_bar" %></h3>
  </div>

  <div class="col-sm-7 col-md-7">
    <table class="table table-condensed progress-legend">
      <tbody>
        <tr>
          <td><%= t ".scheduled_but_not_due" %></td>
          <td class="success"><%= t ".confirmed" %></td>
          <td class="info"><%= t ".active_due" %></td>
          <td class="warning"><%= t ".cancelled" %></td>
          <td class="danger"><%= t ".overdue" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="progress tall">
  <% scheduled_task_types = @tasks.scheduled_tasks.group_by { |t| t.task.class } %>
  <% [ Tasks::ConfirmationCall,
       Tasks::InitialInPersonAppointment,
       Tasks::FollowUpCallWeekOne,
       Tasks::FollowUpCallWeekThree,
       Tasks::CallToScheduleFinalAppointment,
       Tasks::FinalInPersonAppointment ].each_with_index do |task, i| %>
    <% task_instance = scheduled_task_types[task].try(:first) %>
    <% task_style = "width: #{ i <= 3 ? 17 : 16 }%; #{ i < 5 ? 'border-right: 1px solid;' : '' }" %>
    <% task_class = task_instance.try(:css_class) || "future" %>
    <%= content_tag("div",
                    class: "progress-bar progress-bar-#{ task_class }",
                    style: task_style) do %>
      <span>
        <%= task.model_name.human %><br />
        <%= l(task_instance.scheduled_at.to_date, format: :long) if task_instance %>
      </span>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <% active_task_count = @tasks.active_tasks.count %>
    <%= active_task_count %> <%= NurseTask.model_name.human(count: active_task_count) %> <%= t(".pending", count: active_task_count) %>, <%= @tasks.overdue_tasks.count %> <%= t(".overdue_task", count: @tasks.overdue_tasks.count) %>

    <% @tasks.active_tasks.each do |task| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= task %> <span class="label label-info"><%= time_ago_in_words task.scheduled_at %></span></div>

        <% if can? :update, task.task %>
          <div class="btn-group" role="group" aria-label="Actions">
            <% if task.alert? %>
              <%= link_to t(".mark_as_resolved"),
                          new_polymorphic_path([:participant, task.target], { participant_id: @tasks.id }),
                          { class: "btn btn-link" } %>
              <%= button_to t(".contact_supervisor"),
                            notify_supervisor_participant_task_path(participant_id: @tasks.id, id: task.id),
                            { class: "btn btn-link", data: { confirm: t(".confirm_supervisor_notification") } } %>
            <% else %>
              <%= link_to t("conemo.views.shared.confirm"),
                          new_polymorphic_path([:participant, task.target], { participant_id: @tasks.id }),
                          { class: "btn btn-link" } %>
              <%= link_to t("conemo.views.shared.cancel_button"),
                          new_participant_task_scheduled_task_cancellation_path(participant_id: @tasks.id, task_id: task.id),
                          { class: "btn btn-link" } %>
              <%= link_to t("conemo.views.shared.reschedule").capitalize,
                          new_participant_task_scheduled_task_rescheduling_path(participant_id: @tasks.id, task_id: task.id),
                          { class: "btn btn-link" } %>
            <% end %>
          </div>
        <% end %>

        <% if task.alert? && @tasks.latest_notification(task.id) %>
          <div class="panel-body">
            <p style="display: inline-block;"><%= t ".last_supervisor_contact_sent" %> <%= l @tasks.latest_notification(task.id).created_at, format: :long %></p>

            <% if can? :update, @tasks.latest_notification(task.id) %>
              <%= button_to t(".clear"),
                            clear_latest_supervisor_notification_participant_task_path(participant_id: @tasks.id, id: task.id),
                            { form: { style: "display: inline-block;" }, method: :delete, class: "btn btn-default", data: { confirm: t(".confirm_clear") } } %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
    <%= render "active/participants/contact_info", participant: @participant %>

    <% if @participant.smartphone %>
      <%= render "active/participants/smartphone", smartphone: @participant.smartphone %>
    <% else %>
      <h3><%= t "conemo.views.active.participants.show.smartphone_heading" %> <%= link_to '', new_participant_smartphone_path(@participant), class: "fa fa-edit pull-right" %></h3>
    <% end %>
  </div>
</div>
