<%= form_for @smartphone, url: participant_smartphone_path(@participant), method: @smartphone.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :number, class: "col-md-5 control-label" %>
      <div class="col-md-7">
        <%= f.telephone_field :number, class: "form-control", required: true %>
        <span id="helpBlock" class="help-block">ex. Lima: 95xxxxxxx; Sao Paulo: 11xxxxxxxxx </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone_identifier, class: "col-md-5 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :phone_identifier, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-5 col-md-7">
        <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
        <%= link_to t("conemo.views.shared.cancel_button"), participant_tasks_path(@participant), class: "btn btn-link" %>
      </div>
    </div>
<% end %>
