<h1><%= @call_to_schedule_final_appointment.model_name.human %></h1>

<div class="row well">
  <div class="col-md-10">
    <%= form_for @call_to_schedule_final_appointment,
                 url: participant_call_to_schedule_final_appointment_path(@participant),
                 html: { role: "form", class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <%= f.label :contact_at, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.datetime_select :contact_at, { required: true }, { class: "date-select" } %>
          <br>
          <small><%= Time.zone %></small>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :final_appointment_at, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.datetime_select :final_appointment_at, { required: true }, { class: "date-select" } %>
          <br>
          <small><%= Time.zone %></small>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :final_appointment_location, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.select :final_appointment_location, options_for_select(t("activerecord.field_options.final_appointment.locations"), @call_to_schedule_final_appointment.final_appointment_location),
                       {},
                       { class: "dropdown", required: true } %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-7">
          <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
          <% referrer = params[:referrer] == "active_participant_path" ? active_participant_path(@participant) : participant_tasks_path(@participant) %>
          <%= link_to t("conemo.views.shared.cancel_button"), referrer, class: "btn btn-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
