<h2>Your Patients</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.participant.study_identifier") %></th>
          <th><%= NurseTask.model_name.human(count: 2) %></th>
          <th><%= TokenAuth::ConfigurationToken.model_name.human %></th>
        </tr>
      </thead>
      <tbody>
        <% @nurse_dashboard.participant_summaries.each do |participant_summary| %>
          <tr class="<%= participant_summary.css_class %>">
            <td>
              <%= link_to participant_summary.study_identifier, participant_tasks_path(participant_summary.id) %>
            </td>
            <td>
              <%= link_to participant_summary.active_tasks_list, participant_tasks_path(participant_summary.id) %>
            </td>
            <td>
              <%= participant_summary.configuration_token %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
