<%= form_for @second_contact, url: participant_second_contact_path(participant), method: @second_contact.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :contact_at, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.datetime_select :contact_at, class: "form-control", required: true %>
        <br>
        <small><%= Time.zone %></small>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :session_length, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.number_field :session_length, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :notes, class: "col-md-4 control-label" %>
      <div class="col-md-7">
        <%= f.text_area :notes, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-7">
        <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
        <%= link_to t("conemo.views.shared.cancel_button"), active_participants_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>