<h1><%= LackOfConnectivityCall.model_name.human %></h1>

<div class="row well">
  <div class="col-md-10">
    <%= form_for @lack_of_connectivity_call,
                 url: participant_lack_of_connectivity_calls_path(@participant),
                 html: { role: "form", class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <%= f.label :contact_at, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.datetime_select :contact_at, {}, { class: "date-select" } %>
          <br>
          <small><%= Time.zone %></small>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :explanation, class: "col-md-3 control-label" %>

        <div class="col-md-7">
          <%= f.select :explanation,
            grouped_options_for_select([
                                       [t("activerecord.field_options.lack_of_connectivity_call.reasons_label"), t("activerecord.field_options.lack_of_connectivity_call.reasons")],
                                       [t("activerecord.field_options.lack_of_connectivity_call.cancel_label"), t("activerecord.field_options.lack_of_connectivity_call.cancel")]
                                       ]),
                       {},
                       { class: "dropdown", required: true, :"aria-describedby" => "explanation-help" } %>
          <span id="explanation-help" class="help-block"><%= t("activerecord.field_help.lack_of_connectivity_call.explanation") %></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-7">
          <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
          <%= link_to t("conemo.views.shared.cancel_button"), participant_tasks_path(@participant), class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
