<%= f.fields_for :patient_contacts, patient_contact do |builder| %>
    <div class="form-group">
      <%= builder.label :contact_reason, class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= builder.select :contact_reason, options_for_select([
                                                                       "#{t 'conemo.views.patient_contacts.reschedule_options.no_show'}",
                                                                       "#{t 'conemo.views.patient_contacts.reschedule_options.patient_reschedule'}",
                                                                       "#{t 'conemo.views.patient_contacts.reschedule_options.nurse_reschedule'}",
                                                                       "#{t 'conemo.views.patient_contacts.reschedule_options.other'}"
                                                               ]),
                           {include_blank: true}, {class: "dropdown"} %>
      </div>
    </div>
    <div class="form-group">
      <%= builder.label :note, class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= builder.text_area :note, class: "form-control" %>
      </div>
    </div>
    
        <%= builder.hidden_field :participant_id, value: participant.id %>
<% end %>