<%= form_for @first_appointment, url: participant_first_appointment_path(@participant), method: @first_appointment.valid? ? :patch : :post, html: {role: "form", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :appointment_at, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.datetime_select :appointment_at, { required: true }, { class: "date-select" } %>
      <br>
      <small><%= Time.zone %></small>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :appointment_location, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.select :appointment_location, options_for_select(t("activerecord.field_options.first_contact.locations"), @first_appointment.appointment_location),
                   {},
                   { class: "dropdown", required: true } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :session_length, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.number_field :session_length, min: 1, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-7">
      <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
      <% referrer = params[:referrer] == "active_participant_path" ? active_participant_path(@participant) : participant_tasks_path(@participant) %>
      <%= link_to t("conemo.views.shared.cancel_button"), referrer, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
