<%= form_for [@nurse, @supervisor_note], html: { role: "form", class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :note, class: "col-md-4 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-7">
      <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
      <%= link_to t("conemo.views.shared.cancel_button"), nurse_supervision_sessions_path(@nurse), class: "btn btn-link" %>
    </div>
  </div>
<% end %>
