<div class="row">
  <div class="col-md-12 col-sm-12">
    <h1><%= t "conemo.views.pending.participants.index.heading" %>
      <% if can? :create, Participant %>
        <%= link_to " #{t 'conemo.views.pending.participants.index.add_new_participant'}", new_participant_path, class: "pull-right btn btn-primary fa fa-plus btn-lg" %>
      <% end %>
    </h1>
    <br>
    <div id="main-panel">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th><%= t "conemo.views.pending.participants.index.edit_info" %></th>
          <th><%= t "conemo.views.pending.participants.index.name" %></th>
          <th><%= t "conemo.views.pending.participants.index.study_identifier" %></th>
          <th><%= t "conemo.views.pending.participants.index.enrollment_date" %></th>
          <th><%= t "conemo.views.pending.participants.index.activate" %></th>
          <th><%= t "conemo.views.pending.participants.index.disqualify" %></th>
        </tr>
        <% @pending_participants.each do |participant| %>
            <tr>
              <td><%= link_to '', edit_participant_path(participant), class: "fa fa-edit fa-2x" %></td>
              <td><%= participant.last_name %>, <%= participant.first_name %></td>
              <td><%= participant.study_identifier %></td>
              <td><%= l participant.enrollment_date, format: :long %></td>
              <td><%= link_to '', pending_activate_path(participant), class: "fa fa-thumbs-up fa-2x", id: "activate_#{participant.id}" %></td>
              <td><%= link_to '', participant_path(id: participant.id, participant: {status: 'ineligible'}), method: :put, class: "fa fa-thumbs-down fa-2x", id: "disqualify_#{participant.id}", :"data-confirm" => "#{ t 'conemo.views.pending.participants.index.disqualify_alert' }" %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
