<h3>
  <%= t ".supervisor_notes" %>
  <%= link_to(new_nurse_supervisor_note_path(@nurse), class: "pull-right", style: "color:white;") do %>
    <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
    <span class="sr-only">Write note</span>
  <% end %>
</h3>

<table class="table">
  <tbody>
    <% @nurse.supervisor_notes.each do |note| %>
      <tr>
        <td>
          <dl>
            <dt>
            <dd><%= note.note %></dd>
            <dd><em><%= l note.created_at, format: :long %></em></dd>
          </dl>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>
  <%= SupervisionSession.model_name.human(count: 2) %>
</h3>

<table class="table">
  <thead>
    <tr>
      <td><%= t("activerecord.attributes.supervision_session.session_at") %></td>
      <td><%= t("activerecord.attributes.supervision_session.session_length") %></td>
      <td><%= t("activerecord.attributes.supervision_session.meeting_kind") %></td>
      <td><%= t("activerecord.attributes.supervision_session.contact_kind") %></td>
      <td><%= t("activerecord.attributes.supervision_session.topics") %></td>
    </tr>
  </thead>
  <tbody>
    <% @nurse.recent_supervision_sessions.each do |session| %>
      <tr>
        <td><%= l session.session_at, format: :long %></td>
        <td><%= session.session_length %></td>
        <td><%= session.meeting_kind %></td>
        <td><%= session.contact_kind %></td>
        <td><%= session.topics.try(:join ,", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
