<h1><%= SupervisionSession.model_name.human %></h1>

<div class="row well">
  <div class="col-md-10">
    <%= form_for @supervision_session,
                 url: nurse_supervision_sessions_path(@nurse),
                 html: { role: "form", class: "form-horizontal" } do |f| %>
      <div class="form-group">
        <%= f.label :session_at, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.datetime_select :session_at, {}, { class: "date-select" } %>
          <br>
          <small><%= Time.zone %></small>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :session_length, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= f.number_field :session_length, min: 1, class: "form-control", required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :meeting_kind, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <% t("activerecord.field_options.supervision_session.meeting_kinds").each do |kind| %>
            <label class="radio-inline">
              <%= f.radio_button :meeting_kind, kind, required: true %> <%= kind %>
            </label>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :contact_kind, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <% t("activerecord.field_options.supervision_session.contact_kinds").each do |kind| %>
            <label class="radio-inline">
              <%= f.radio_button :contact_kind, kind, required: true %> <%= kind %>
            </label>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :topics, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <% t("activerecord.field_options.supervision_session.topics").each do |topic| %>
            <label class="checkbox">
              <%= check_box_tag "supervision_session[topics][]", topic %> <%= topic %>
            </label>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-7">
          <%= f.submit t("conemo.views.shared.save_button"), class: "btn btn-primary" %>
          <%= link_to t("conemo.views.shared.cancel_button"), nurse_supervisor_dashboard_path, class: "btn btn-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
