<%= form_for @lesson, html: { class: "form-horizontal", role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :day_in_treatment, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :day_in_treatment, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", lessons_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
