<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h1><%=t "conemo.views.dashboards.index.heading" %></h1>
      <p><%=t "conemo.views.dashboards.index.instructions" %></p>
      <div class="btn-group">
        <%= link_to t('conemo.views.dashboards.index.enrollment_button'), pending_participants_path, class: "btn btn-info btn-lg"%>
        <%= link_to t('conemo.views.dashboards.index.manage_button'), active_participants_path, class: "btn btn-primary btn-lg"%>
        <%= link_to t('conemo.views.dashboards.index.lessons_button'), lessons_path, class: "btn btn-success btn-lg"%>
      </div>
    </div>
  </div>
</div>

