<%= f.fields_for :nurse_participant_evaluation, nurse_participant_evaluation do |builder| %>
  <div class="form-group">
    <%= builder.label :smartphone_comfort, t("conemo.views.first_appointments.form.smartphone_comfort") + " *", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= builder.number_field :smartphone_comfort, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= builder.label :participant_session_engagement, t("conemo.views.first_appointments.form.participant_session_engagement") + " *", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= builder.number_field :participant_session_engagement, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= builder.label :app_usage_prediction, t("conemo.views.first_appointments.form.app_usage_prediction") + " *", class: "col-md-3 control-label" %>
    <div class="col-md-6">
      <%= builder.number_field :app_usage_prediction, class: "form-control", required: true %>
    </div>
  </div>
<% end %>