<h1><%= t "conemo.views.patient_contacts.new.heading" %> <%= @participant.first_name %> <%= @participant.last_name %></h1>

<div class="row well">
  <div class="col-md-8">
    <%= render 'form', patient_contact: @patient_contact %>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <table class="table">
      <tr class="table-head">
        <th class="text-center" style="background-color:#2b3e50;"><%= t 'conemo.views.active.participants.report.notes' %></th>
      </tr>
      <% @participant_contacts.each do |contact| %>
        <tr>
          <td>
            <dl>
              <dt>
                <%= contact.title %>
                <% if contact.deletable? %>
                  <%= link_to "#{fa_icon 'times-circle'}".html_safe, participant_patient_contact_path(id: contact.id, participant_id: @participant.id), method: :delete, :"data-confirm" => "#{ t 'conemo.views.active.participants.report.delete' }", class: 'pull-right delete-note' %></dt>
                <% end %>
              <dd><%= contact.note %></dd>
              <dd><em><%= l contact.timestamp, format: :long %></em></dd>
            </dl>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
