<h3><%= Participant.model_name.human(count: 2) %></h3>

<div class="panel panel-default">
  <div class="panel-heading"><%= @pending_participants.count %> <%= t ".pending", count: @pending_participants.count %></div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover filterable">
      <thead>
        <tr>
          <th><%= t "pending.participants.index.edit_info" %></th>
          <th><%= t "pending.participants.index.name" %></th>
          <th><%= t "pending.participants.index.study_identifier" %></th>
          <th>Date added to dashboard</th>
          <th><%= t "pending.participants.index.activate" %></th>
        </tr>
      </thead>

      <tbody>
        <% @pending_participants.each do |participant| %>
          <tr>
            <td>
              <%= link_to(edit_participant_path(participant), class: "btn btn-default", :"aria-label" => t("pending.participants.index.edit_info")) do %>
                <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "pending.participants.index.edit_info" %></span>
              <% end %>
            </td>
            <td><%= participant.last_and_first_name %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= l participant.created_at.to_date, format: :long %></td>
            <td>
              <%= link_to(pending_activate_path(participant), class: "btn btn-default", :"aria-label" => t("pending.participants.index.activate")) do %>
                <span class="fa fa-thumbs-up fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "pending.participants.index.activate" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= @active_participants.count %> <%= t ".active", count: @active_participants.count %></div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover filterable">
      <thead>
        <tr>
          <th><%= t "pending.participants.index.edit_info" %></th>
          <th><%= Nurse.model_name.human %></th>
          <th></th>
          <th><%= t "pending.participants.index.name" %></th>
          <th><%= t "pending.participants.index.study_identifier" %></th>
          <th>Date added to dashboard</th>
          <th><%= t "pending.participants.index.disqualify" %></th>
        </tr>
      </thead>

      <tbody>
        <% @active_participants.each do |participant| %>
          <tr>
            <td>
              <%= link_to(edit_participant_path(participant), class: "btn btn-default", :"aria-label" => t("pending.participants.index.edit_info")) do %>
                <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "pending.participants.index.edit_info" %></span>
              <% end %>
            </td>
            <td><%= participant.nurse.last_and_first_name %></td>
            <td>
              <%= link_to(pending_activate_path(participant), class: "btn btn-default", :"aria-label" => t("pending.participants.index.edit_info")) do %>
                <span class="fa fa-user-md fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "pending.participants.index.edit_info" %></span>
              <% end %>
            </td>
            <td><%= participant.last_and_first_name %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= l participant.created_at.to_date, format: :long %></td>
            <td>
              <%= link_to(participant_path(id: participant.id, participant: { status: Participant::DROPPED_OUT }),
                          method: :put,
                          class: "btn btn-default",
                          :"aria-label" => t("pending.participants.index.disqualify"),
                          :"data-confirm" => "#{ t 'pending.participants.index.disqualify_alert' }") do %>
                <span class="fa fa-thumbs-down fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "pending.participants.index.disqualify" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= @completed_participants.count %> <%= t ".completed", count: @completed_participants.count %></div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover filterable">
      <thead>
        <tr>
          <th><%= Nurse.model_name.human %></th>
          <th><%= t "pending.participants.index.name" %></th>
          <th><%= t "pending.participants.index.study_identifier" %></th>
          <th>Date added to dashboard</th>
        </tr>
      </thead>

      <tbody>
        <% @completed_participants.each do |participant| %>
          <tr>
            <td><%= participant.nurse.last_and_first_name %></td>
            <td><%= participant.last_and_first_name %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= l participant.created_at.to_date, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= @dropped_out_participants.count %> <%= t ".dropped_out", count: @dropped_out_participants.count %></div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover filterable">
      <thead>
        <tr>
          <th><%= Nurse.model_name.human %></th>
          <th><%= t "pending.participants.index.name" %></th>
          <th><%= t "pending.participants.index.study_identifier" %></th>
          <th>Date added to dashboard</th>
        </tr>
      </thead>

      <tbody>
        <% @dropped_out_participants.each do |participant| %>
          <tr>
            <td><%= participant.nurse.last_and_first_name %></td>
            <td><%= participant.last_and_first_name %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= l participant.created_at.to_date, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @dashboard.nurses.present? %>
  <h3><%= Nurse.model_name.human(count: @dashboard.nurses.count) %></h3>

  <%= render partial: "nurse", collection: @dashboard.overdue_nurses %>

  <%= render partial: "nurse", collection: @dashboard.current_nurses %>

  <%= render partial: "nurse", collection: @dashboard.complete_nurses %>
<% end %>
