<div class="panel panel-default">
  <div class="panel-heading"><%= @pending_participants.count %> Unassigned Participants</div>

  <div class="panel-body">
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th><%= t "conemo.views.pending.participants.index.edit_info" %></th>
          <th><%= t "conemo.views.pending.participants.index.name" %></th>
          <th><%= t "conemo.views.pending.participants.index.study_identifier" %></th>
          <th><%= t "conemo.views.pending.participants.index.enrollment_date" %></th>
          <th>Date added to dashboard</th>
          <th><%= t "conemo.views.pending.participants.index.activate" %></th>
          <th><%= t "conemo.views.pending.participants.index.disqualify" %></th>
        </tr>
      </thead>

      <tbody>
        <% @pending_participants.each do |participant| %>
          <tr>
            <td>
              <%= link_to(edit_participant_path(participant), class: "btn btn-default", :"aria-label" => t("conemo.views.pending.participants.index.edit_info")) do %>
                <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "conemo.views.pending.participants.index.edit_info" %></span>
              <% end %>
            </td>
            <td><%= participant.last_and_first_name %></td>
            <td><%= participant.study_identifier %></td>
            <td><%= l participant.enrollment_date, format: :long %></td>
            <td><%= l participant.created_at.to_date, format: :long %></td>
            <td>
              <%= link_to(pending_activate_path(participant), class: "btn btn-default", :"aria-label" => t("conemo.views.pending.participants.index.activate")) do %>
                <span class="fa fa-thumbs-up fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "conemo.views.pending.participants.index.activate" %></span>
              <% end %>
            </td>
            <td>
              <%= link_to(participant_path(id: participant.id, participant: { status: "ineligible" }), method: :put, class: "btn btn-default", :"aria-label" => t("conemo.views.pending.participants.index.disqualify")) do %>
                <span class="fa fa-thumbs-down fa-2x" aria-hidden="true"></span>
                <span class="sr-only"><%= t "conemo.views.pending.participants.index.disqualify" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
