<!DOCTYPE html>
<html>
<head>
  <title>ConemoDashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport"
content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no"
/>
</head>

<body data-locale="<%= I18n.locale %>">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "ADMIN", main_app.rails_admin_path(locale: params[:locale]), class: "btn btn-primary pull-left navbar-brand admin" if current_user.admin? %>
        <%= link_to "/#{params[:locale]}", class: "navbar-brand", style: "padding-right: 8px;" do %>
          <i class="fa fa-home"></i> <%= image_tag "C.png", style: "display: inline; vertical-align: top;" %>
        <% end %>
        <%= render "shared/navbar_app_version" %>
        <% if @participant && !@participant.new_record? %>
          <ul class="nav navbar-nav" style="margin-left: 10px;">
            <% if user_signed_in? %>
              <li class="pull-right" style="margin-right: 15px;"><%= link_to fa_icon('sign-out', text: "#{t("conemo.views.dashboards.index.sign_out")}", right: true), main_app.destroy_user_session_path, method: :delete %></li>
            <% end %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle navbar-brand", data: { toggle: "dropdown" }, id: "participant-menu", aria: { expanded: false }, style: "padding-left: 0;" do %>
                <span class="text-primary"><%= t ".menu" %></span>
                <%= @participant.study_identifier %>: <%= @participant.first_name %> <%= @participant.last_name %>
              <% end %>
              <ul class="dropdown-menu" aria-labelledby="participant-menu">
                <% if current_user.nurse? && !current_page?(participant_tasks_path(@participant)) %>
                  <li>
                    <%= link_to NurseTask.model_name.human(count: 2), participant_tasks_path(@participant) %>
                  </li>
                <% elsif !current_user.nurse? && @participant.nurse && !current_page?(nurse_tasks_summary_path(@participant.nurse)) && @participant.active? %>
                  <li>
                    <%= link_to NurseTask.model_name.human(count: 2), nurse_tasks_summary_path(@participant.nurse) %>
                  </li>
                <% end %>
                <% if !current_page?(active_report_path(@participant.id)) %>
                  <li><%= link_to t("tasks.index.clinical_summary"), active_report_path(@participant.id) %></li>
                <% end %>
                <% if !current_page?(active_participant_path(@participant)) %>
                  <li><%= link_to t("active.participants.show.header"), active_participant_path(@participant) %></li>
                <% end %>
                <% if can? :create, AdditionalContact %>
                  <li class="divider"></li>
                  <li>
                      <%= link_to t("conemo.views.shared.register").capitalize + " " + AdditionalContact.model_name.human.downcase, new_participant_additional_contact_path(@participant.id) %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>

      <div class="navbar-collapse">
        <% if !current_page?("/#{params[:locale]}") %>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li>
                <%= link_to t('conemo.views.dashboards.index.enrollment_button'), main_app.pending_participants_path, class: "info" unless !current_user.admin? %>
              </li>
              <li>
                <%= link_to t('conemo.views.dashboards.index.lessons_button'), main_app.lessons_path, class: "success" unless !current_user.admin? %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render "partials/flash_alerts" %>

    <%= yield %>
  </div>
</body>
</html>
