<!DOCTYPE html>
<html>
<head>
  <title>ConemoDashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport"
content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no"
/>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "ADMIN", main_app.rails_admin_path(locale: params[:locale]), class: "btn btn-primary pull-left navbar-brand admin" if current_user.admin? %>
        <%= link_to "CONEMO", "/#{params[:locale]}", class: "navbar-brand" %>
        <% if @participant %>
          <span class="navbar-brand"><%= Participant.model_name.human %> <%= @participant.study_identifier %>: <%= @participant.last_and_first_name %></span>
        <% end %>
      </div>

      <div class="navbar-collapse">
        <% if !current_page?("/#{params[:locale]}") %>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li>
                <%= link_to t('conemo.views.dashboards.index.enrollment_button'), main_app.pending_participants_path, class: "info" unless !current_user.admin? %>
              </li>
              <li>
                <%= link_to t('conemo.views.dashboards.index.lessons_button'), main_app.lessons_path, class: "success" unless !current_user.admin? %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to fa_icon('sign-out', text: "#{t("conemo.views.dashboards.index.sign_out")}", right: true), main_app.destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render "partials/flash_alerts" %>

    <%= yield %>
  </div>
</body>
</html>
