<!DOCTYPE html>
<html>
<head>
  <title>ConemoDashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "CONEMO", "/#{params[:locale]}", class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "#{t 'conemo.views.shared.app_download'}", "https://rink.hockeyapp.net" %></li>
        <li class="<%= I18n.locale == :en ? "active" : "" %>"><%= link_to "English", new_user_session_path(locale: "en") %></li>
        <li class="<%= I18n.locale == :"es-PE" ? "active" : "" %>"><%= link_to "Español", new_user_session_path(locale: "es-PE") %></li>
        <li class="<%= I18n.locale == :"pt-BR" ? "active" : "" %>"><%= link_to "Português", new_user_session_path(locale: "pt-BR") %></li>
        <% if user_signed_in? %>
            <li><%= link_to t("conemo.views.dashboards.index.sign_out"), destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- navbar -->
<div class="container">
  <% if alert %>
    <div class="alert alert-warning" role="alert"><%= alert %></div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
